body{
    background-color:aquamarine;
    color: rgb(185, 29, 76);
    text-align: center;
    display: inline-block;
    margin: 100px;
    content:center;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    .container {text-align: center;}
    

    

}