body{
    background-color:aquamarine;
    color: rgb(185, 29, 76);
    text-align: center;
    display: center;
    margin: 00px;
    container:center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card{
    height: 50%;
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
