body{
    background-color:aquamarine;
    color: rgb(185, 29, 76);
    text-align: center;
    display: flex;
    margin: 50px;
    container:center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card{
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 2px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a:hover{
    flex:4 ;
}

.card a span{
min-width: 16em;
padding: 0.5em;
transform: rotate(-90);
transition: all 0.5s;
}

.card a:hover span {
    transform:rotate(0);
}